<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addRule()" ng-if="canEdit()">新增控制規則</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td></td>
    <td>名稱</td>
    <td>時間條件</td>
    <td>資料點條件</td>
    <td>處置</td>
    <td>啟用</td>
    <td ng-if="canEdit()">刪除</td>
  </tr>
  <tr ng-repeat="rule in common.rules">
    <td>
        {{$index}}
    </td>
    <td>
        <span>
          {{ rule.title || '[無]' }}
        </span>
    </td>
    <td>
        <span>
          {{ showRuleTimeCondition(rule) }}
        </span>
    </td>
    <td>
        <span>
          {{ showRuleIOCondition(rule) }}
        </span>
    </td>
    <td>
        <span>
          {{ showRuleAction(rule) }}
        </span>
    </td>
    <td>
        <span>
          {{ showActive(rule) }}
        </span>
    </td>
    <td ng-if="canEdit()">
      <button class="btn btn-danger editable-table-button btn-xs" ng-click="editRule($index)">修改</button>
      <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRule($index)">刪除</button>
    </td>
  </tr>
</table>
