<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addLayout()">新增圖控</button>
</div>
<table class="table table-bordered table-hover table-condensed" ng-if="!canEdit()">
  <tr>
    <td></td>
    <td>名稱</td>
    <td>說明</td>
    <td>使用者</td>
    <td>時間標示字型大小</td>
    <td>致能</td>
  </tr>
  <tr ng-repeat="layout in common.layouts track by $index" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span>
          {{ layout.title || '[無]' }}
        </span>
    </td>
    <td>
        <span>
          {{ layout.description || '[無]' }}
        </span>
    </td>
    <td>
        <span>
          {{ showUser(layout.userid) }}
        </span>
    </td>
    <td>
        <span>
          {{ layout.size }}
        </span>
    </td>
    <td>
        <span>
          {{ showActive(layout.active) }}
        </span>
    </td>
  </tr>
</table>
<!--
<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addCamera()" ng-if="canEdit()">新增攝影機</button>
</div>
-->
<table class="table table-bordered table-hover table-condensed" ng-if="canEdit()">
  <tr>
    <td></td>
    <td>名稱</td>
    <td>說明</td>
    <td>使用者</td>
    <td>時間標示字型大小</td>
    <td>致能</td>
  </tr>
  <tr ng-repeat="layout in common.layouts track by $index" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span editable-text="layout.title" e-name="title" e-form="layrowform" e-required>
          {{ layout.title || '[無]' }}
        </span>
    </td>
    <td>
        <span editable-text="layout.description" e-name="description" e-form="layrowform" e-required>
          {{ layout.description || '[無]' }}
        </span>
    </td>
    <td>
        <span>
          {{ showUser(layout.userid) }}
        </span>
    </td>
    <td>
        <span editable-text="layout.size" e-name="size" e-form="layrowform" e-required>
          {{ layout.size || '[無]' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-select="layout.active" e-name="active" e-form="layrowform" e-selectpicker
              e-ng-options="g.id as g.text for g in actives">
          {{ showActive(layout.active) }}
        </span>
    </td>
    <td>
      <form editable-form name="layrowform" ng-show="layrowform.$visible" class="form-buttons form-inline"
            shown="inserted == layout" onaftersave="saveLayout($index)">
        <button type="submit" ng-disabled="layrowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
          確定
        </button>
        <button type="button" ng-disabled="layrowform.$waiting" ng-click="cancel(layrowform, 'image', image, $index)" class="btn btn-default editable-table-button btn-xs">
          取消
        </button>
      </form>
      <div class="buttons" ng-show="!layrowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="layrowform.$show()">修改</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeLayout($index)">刪除</button>
      </div>
    </td>
  </tr>
</table>
