<div class="row" ng-controller="loginCtrl">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="登入/註冊/忘記密碼">
<uib-tabset active="common.loginActiveTab">
  <uib-tab select="tabSelected('login')" index="0" heading="登入" active="common.loginactive.login">
    <main class="auth-main">
      <div class="auth-block">
        <h3><center>登入 JustIOT 物聯網</center></h3> <br>

        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">電子郵件</label>

            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail3" placeholder="電子郵件" ng-model="user.email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密碼</label>

            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword3" placeholder="密碼" ng-model="user.password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default btn-auth" ng-click='login()'>登入</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </uib-tab>
  <uib-tab select="tabSelected('register')" index="1" heading="註冊" active="common.loginactive.register" ng-if="false">
    <main class="auth-main">
      <div class="auth-block">
        <h3><center>註冊 JustIOT 物聯網</center></h3> <br>

        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" placeholder="姓名" ng-model="user.name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">身分說明</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputDescription" placeholder="身分說明" ng-model="user.description">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">電子郵件</label>

            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail3" placeholder="電子郵件" ng-model="user.email">
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密碼</label>

            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword3" placeholder="密碼" ng-model="user.password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密碼</label>

            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword3" placeholder="密碼" ng-model="user.password1">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default btn-auth" ng-click='register()'>登入</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </uib-tab>
  <uib-tab select="tabSelected('password')" index="2" heading="忘記密碼" active="common.loginactive.password">
    <main class="auth-main">
      <div class="auth-block">
        <h3><center>忘記 JustIOT 物聯網密碼</center></h3> <br>

        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">電子郵件</label>

            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail3" placeholder="電子郵件" ng-model="user.email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default btn-auth" ng-click='forgot()'>重置密碼</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </uib-tab>
  <uib-tab select="tabSelected('profile')" index="3" heading="個人資料" ng-if="logined" active="common.loginactive.profile">
    <main class="auth-main">
      <div class="auth-block">
        <h3><center>修改 JustIOT 物聯網個人資料</center></h3> <br>

        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" placeholder="姓名" ng-model="profile.name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">電子郵件</label>

            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail3" placeholder="電子郵件" ng-model="profile.email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密碼</label>

            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword3" placeholder="密碼" ng-model="profile.password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密碼</label>

            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword3" placeholder="密碼" ng-model="profile.password1">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default btn-auth" ng-click='updateProfile()'>修改</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </uib-tab>
  <uib-tab select="tabSelected('logout')" index="4" heading="登出" ng-if="logined" active="common.loginactive.logout">
    <main class="auth-main">
      <div class="auth-block">
        <h3><center>登出 JustIOT 物聯網</center></h3> <br>

        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-9">
              <button type="submit" class="btn btn-default btn-auth" ng-click='logout()'>登出</button>
            </div>
          </div>
        </form>
      </div>
    </main>
  </uib-tab>
</uib-tabset>
</div>
</div>
</div>
